html,
body {
  margin: 0;
  padding: 0; }
  html a,
  body a {
    text-decoration: none;
    color: inherit; }
  html ul,
  body ul {
    margin: 0;
    padding: 0; }
  html li,
  body li {
    list-style: none; }
  html p,
  body p {
    margin: 0; }
  html .banner,
  body .banner {
    width: 100%; }
    html .banner .swiper-container,
    body .banner .swiper-container {
      width: 100%;
      height: 100%; }
      html .banner .swiper-container img,
      body .banner .swiper-container img {
        width: 100%;
        height: 100%; }
  html .exs,
  body .exs {
    height: 100%;
    max-width: 100%;
    -webkit-transition: all 0.3s ease;
    transition: all 0.3s ease;
    /* -webkit-filter: grayscale(100%); */
    -webkit-filter: grayscale(0%);
    filter: grayscale(0%);
    opacity: 1; }
    html .exs:hover,
    body .exs:hover {
      -webkit-filter: grayscale(20%);
      filter: grayscale(20%);
      opacity: 0.8; }
  html .classify,
  body .classify {
    width: 90%;
    margin: 0 auto;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    overflow-x: scroll;
    -ms-overflow-style: none;
    overflow: -moz-scrollbars-none; }
    html .classify::-webkit-scrollbar,
    body .classify::-webkit-scrollbar {
      width: 0 !important;
      height: 0; }
    html .classify .class,
    body .classify .class {
      margin-left: 0.266667rem;
      width: 16%;
      text-align: center; }
      html .classify .class:nth-child(1),
      body .classify .class:nth-child(1) {
        margin-left: 0; }
      html .classify .class .class_icon,
      body .classify .class .class_icon {
        width: 100%;
        -webkit-transition: all 0.3s ease;
        transition: all 0.3s ease;
        -webkit-filter: grayscale(0%);
        filter: grayscale(0%);
        opacity: 1; }
        html .classify .class .class_icon:hover,
        body .classify .class .class_icon:hover {
          -webkit-filter: grayscale(50%);
          filter: grayscale(50%);
          opacity: 0.8; }
      html .classify .class .class_desc,
      body .classify .class .class_desc {
        font-size: 0.266667rem; }
  html .ad_position,
  body .ad_position {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    width: 90%;
    margin: 0 auto;
    margin-top: 0.266667rem; }
    html .ad_position .left,
    body .ad_position .left {
      width: 49%;
      height: 100%; }
      html .ad_position .left img,
      body .ad_position .left img {
        width: 100%;
        height: auto; }
    html .ad_position .right,
    body .ad_position .right {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -ms-flex-direction: column;
      flex-direction: column;
      -webkit-box-align: center;
      -ms-flex-align: center;
      align-items: center;
      width: 49%;
      overflow: hidden; }
      html .ad_position .right img,
      body .ad_position .right img {
        display: inline-block;
        height: 47%;
        width: 100%; }
        html .ad_position .right img:nth-child(1),
        body .ad_position .right img:nth-child(1) {
          margin-bottom: 4%; }
  html .article,
  body .article {
    width: 90%;
    margin: 0 auto; }
    html .article .article_head,
    body .article .article_head {
      font-size: 0.4rem;
      border-bottom: 1px solid #d5d1d2; }
      html .article .article_head span,
      body .article .article_head span {
        display: inline-block;
        width: 49%;
        position: relative;
        height: 0.746667rem;
        line-height: 0.746667rem;
        font-weight: 600;
        text-align: center; }
      html .article .article_head span.active,
      body .article .article_head span.active {
        color: #c42c3b; }
        html .article .article_head span.active:after,
        body .article .article_head span.active:after {
          content: "";
          position: absolute;
          bottom: 0;
          left: 0;
          height: 0.026667rem;
          background: #c42c3b;
          width: 100%; }
    html .article .article_contet .article_item,
    body .article .article_contet .article_item {
      padding-top: 0.24rem;
      padding-left: 0.32rem;
      padding-right: 0.32rem; }
      html .article .article_contet .article_item .title,
      body .article .article_contet .article_item .title {
        font-weight: 600; }
      html .article .article_contet .article_item .short_desc,
      body .article .article_contet .article_item .short_desc {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-pack: justify;
        -ms-flex-pack: justify;
        justify-content: space-between;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
        margin-top: 0.066667rem;
        font-weight: 600;
        width: 100%; }
        html .article .article_contet .article_item .short_desc .description,
        body .article .article_contet .article_item .short_desc .description {
          display: inline-block;
          line-height: 1;
          width: 70%;
          white-space: nowrap;
          overflow: hidden;
          text-overflow: ellipsis; }
        html .article .article_contet .article_item .short_desc .open,
        body .article .article_contet .article_item .short_desc .open {
          font-weight: normal;
          color: gray;
          display: -webkit-inline-box;
          display: -ms-inline-flexbox;
          display: inline-flex;
          -webkit-box-align: center;
          -ms-flex-align: center;
          align-items: center; }
          html .article .article_contet .article_item .short_desc .open .arrow,
          body .article .article_contet .article_item .short_desc .open .arrow {
            width: 0.266667rem;
            height: 0.266667rem;
            -webkit-animation: bounce-down 1s linear infinite;
            animation: bounce-down 1s linear infinite; }
@-webkit-keyframes bounce-down {
  25% {
    -webkit-transform: translateY(-1px);
    transform: translateY(-1px); }
  50% {
    -webkit-transform: translateY(0);
    transform: translateY(0); }
  75% {
    -webkit-transform: translateY(1px);
    transform: translateY(1px); } }
@keyframes bounce-down {
  25% {
    -webkit-transform: translateY(-1px);
    transform: translateY(-1px); }
  50% {
    -webkit-transform: translateY(0);
    transform: translateY(0); }
  75% {
    -webkit-transform: translateY(1px);
    transform: translateY(1px); } }
      html .article .article_contet .article_item .img_area,
      body .article .article_contet .article_item .img_area {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: horizontal;
        -webkit-box-direction: normal;
        -ms-flex-direction: row;
        flex-direction: row;
        -webkit-box-pack: justify;
        -ms-flex-pack: justify;
        justify-content: space-between; }
        html .article .article_contet .article_item .img_area .img_block,
        body .article .article_contet .article_item .img_area .img_block {
          width: 70%;
          overflow: hidden; }
          html .article .article_contet .article_item .img_area .img_block img,
          body .article .article_contet .article_item .img_area .img_block img {
            float: left;
            width: 23%;
            margin-left: 2%;
            margin-top: 0.133333rem; }
            html .article .article_contet .article_item .img_area .img_block img:nth-child(4n + 1),
            body .article .article_contet .article_item .img_area .img_block img:nth-child(4n + 1) {
              margin-left: 0; }
          html .article .article_contet .article_item .img_area .img_block:after,
          body .article .article_contet .article_item .img_area .img_block:after {
            content: "";
            clear: both; }
        html .article .article_contet .article_item .img_area .call_me,
        body .article .article_contet .article_item .img_area .call_me {
          margin-top: 0.666667rem;
          margin-right: 2px; }
          html .article .article_contet .article_item .img_area .call_me img,
          body .article .article_contet .article_item .img_area .call_me img {
            -webkit-filter: grayscale(0%);
            filter: grayscale(0%);
            opacity: 1;
            width: 1.426667rem;
            height: 0.52rem; }
            html .article .article_contet .article_item .img_area .call_me img:hover,
            body .article .article_contet .article_item .img_area .call_me img:hover {
              -webkit-filter: grayscale(50%);
              filter: grayscale(50%);
              opacity: 0.8; }
      html .article .article_contet .article_item .read_amount,
      html .article .article_contet .article_item .time,
      body .article .article_contet .article_item .read_amount,
      body .article .article_contet .article_item .time {
        margin-top: 0.133333rem;
        line-height: 1;
        color: #d5d1d2;
        font-size: 0.266667rem; }
      html .article .article_contet .article_item:nth-last-child(1),
      body .article .article_contet .article_item:nth-last-child(1) {
        margin-bottom: 1.333333rem; }
  html .check_list,
  body .check_list {
    border-top: 1px solid #d5d1d2;
    background: #f8f9f4;
    padding: 0;
    margin: 0;
    position: fixed;
    bottom: 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row; }
    html .check_list .list_item,
    body .check_list .list_item {
      width: 20%;
      height: 1.333333rem;
      line-height: 1.333333rem;
      text-align: center;
      position: relative;
      background: #ffffff;
      -webkit-transition: all 0.3s ease;
      transition: all 0.3s ease;
      display: -webkit-inline-box;
      display: -ms-inline-flexbox;
      display: inline-flex;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -ms-flex-direction: column;
      flex-direction: column;
      opacity: 0.6; }
      html .check_list .list_item .wrap,
      body .check_list .list_item .wrap {
        display: inline-block;
        text-align: center;
        margin-top: 0.133333rem; }
        html .check_list .list_item .wrap img,
        body .check_list .list_item .wrap img {
          width: 35%;
          display: block;
          margin: 0 auto; }
        html .check_list .list_item .wrap span,
        body .check_list .list_item .wrap span {
          margin-top: 0.026667rem;
          display: block;
          line-height: 1; }
  html .information_list .article,
  body .information_list .article {
    margin: 0 !important;
    width: 100%; }
  html .information_list .list_head,
  body .information_list .list_head {
    width: 90%;
    margin: 0 auto;
    white-space: nowrap;
    overflow-x: scroll;
    -ms-overflow-style: none;
    overflow: -moz-scrollbars-none; }
    html .information_list .list_head::-webkit-scrollbar,
    body .information_list .list_head::-webkit-scrollbar {
      width: 0 !important;
      height: 0; }
    html .information_list .list_head span,
    body .information_list .list_head span {
      display: inline-block;
      margin-left: 0.266667rem;
      padding-top: 0.266667rem;
      padding-bottom: 0.266667rem;
      font-weight: 600;
      font-size: 0.293333rem;
      position: relative; }
      html .information_list .list_head span:nth-child(1),
      body .information_list .list_head span:nth-child(1) {
        margin-left: 0; }
    html .information_list .list_head span.active,
    body .information_list .list_head span.active {
      color: #19689e; }
      html .information_list .list_head span.active:after,
      body .information_list .list_head span.active:after {
        content: "";
        position: absolute;
        bottom: 0;
        height: 2px;
        width: 100%;
        left: 0;
        background: #19689e; }
  html .information_list .article_item,
  body .information_list .article_item {
    border-top: 1px solid #d5d1d2;
    width: 90%;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    margin: 0 auto;
    margin-top: 0.12rem;
    padding-top: 0.12rem !important;
    padding-left: 0 !important;
    padding-right: 0 !important; }
    html .information_list .article_item:nth-child(1),
    body .information_list .article_item:nth-child(1) {
      margin-top: 0; }
  html .detail,
  body .detail {
    width: 90%;
    margin: 0 auto; }
    html .detail .title,
    body .detail .title {
      font-weight: 600;
      font-size: 0.4rem;
      margin-top: 0.133333rem;
      margin-bottom: 0.1rem; }
    html .detail .note,
    body .detail .note {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-pack: justify;
      -ms-flex-pack: justify;
      justify-content: space-between;
      -webkit-box-align: center;
      -ms-flex-align: center;
      align-items: center;
      color: #d5d1d2; }
      html .detail .note .call_me,
      body .detail .note .call_me {
        width: 1.426667rem;
        height: 0.52rem;
        -webkit-transition: all 0.3s ease;
        transition: all 0.3s ease;
        -webkit-filter: grayscale(0%);
        filter: grayscale(0%);
        opacity: 1; }
        html .detail .note .call_me:hover,
        body .detail .note .call_me:hover {
          -webkit-filter: grayscale(50%);
          filter: grayscale(50%);
          opacity: 0.8; }
    html .detail .content,
    body .detail .content {
      font-weight: 600;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-orient: horizontal;
      -webkit-box-direction: normal;
      -ms-flex-direction: row;
      flex-direction: row; }
      html .detail .content span:nth-child(1),
      body .detail .content span:nth-child(1) {
        white-space: nowrap; }
      html .detail .content span:nth-child(2),
      body .detail .content span:nth-child(2) {
        line-height: 1.5; }
    html .detail .desc_img,
    body .detail .desc_img {
      width: 100%;
      height: auto;
      margin-top: 0.266667rem; }
  html .upload input,
  body .upload input {
    border: none;
    outline: none; }
  html .upload .type,
  body .upload .type {
    padding-top: 0.2rem;
    padding-bottom: 0.133333rem;
    width: 90%;
    margin: 0 auto;
    position: relative;
    border-bottom: 1px solid #d5d1d2; }
    html .upload .type .title,
    body .upload .type .title {
      height: 0.666667rem;
      line-height: 0.666667rem;
      font-size: 0.4rem;
      font-weight: 600;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-pack: justify;
      -ms-flex-pack: justify;
      justify-content: space-between;
      -webkit-box-align: center;
      -ms-flex-align: center;
      align-items: center; }
      html .upload .type .title .arrow,
      body .upload .type .title .arrow {
        display: inline-block;
        width: 0.346667rem;
        height: 0.24rem; }
      html .upload .type .title .arrow.rotate,
      body .upload .type .title .arrow.rotate {
        -webkit-transform-origin: center center;
        transform-origin: center center;
        -webkit-transform: rotate(180deg);
        transform: rotate(180deg);
        -webkit-transition: -webkit-transform 0.2s;
        transition: -webkit-transform 0.2s;
        transition: transform 0.2s;
        transition: transform 0.2s, -webkit-transform 0.2s; }
    html .upload .type .type_list,
    body .upload .type .type_list {
      position: absolute;
      top: 0.866667rem;
      margin: 0;
      padding: 0;
      background: #ffffff;
      width: 100%; }
      html .upload .type .type_list li,
      body .upload .type .type_list li {
        line-height: 1.5;
        margin-top: 0.133333rem; }
    html .upload .type .type_list.hide,
    body .upload .type .type_list.hide {
      display: none; }
  html .upload .content_title,
  html .upload .content_tel,
  html .upload .content_address,
  body .upload .content_title,
  body .upload .content_tel,
  body .upload .content_address {
    width: 90%;
    margin: 0 auto;
    border-bottom: 1px solid #d5d1d2; }
    html .upload .content_title input,
    html .upload .content_tel input,
    html .upload .content_address input,
    body .upload .content_title input,
    body .upload .content_tel input,
    body .upload .content_address input {
      height: 0.906667rem;
      line-height: 0.906667rem;
      width: 100%; }
      html .upload .content_title input::-webkit-input-placeholder,
      html .upload .content_tel input::-webkit-input-placeholder,
      html .upload .content_address input::-webkit-input-placeholder,
      body .upload .content_title input::-webkit-input-placeholder,
      body .upload .content_tel input::-webkit-input-placeholder,
      body .upload .content_address input::-webkit-input-placeholder {
        color: #c5c3c4; }
      html .upload .content_title input::-moz-placeholder,
      html .upload .content_tel input::-moz-placeholder,
      html .upload .content_address input::-moz-placeholder,
      body .upload .content_title input::-moz-placeholder,
      body .upload .content_tel input::-moz-placeholder,
      body .upload .content_address input::-moz-placeholder {
        /* Mozilla Firefox 19+ */
        color: #c5c3c4; }
      html .upload .content_title input:-moz-placeholder,
      html .upload .content_tel input:-moz-placeholder,
      html .upload .content_address input:-moz-placeholder,
      body .upload .content_title input:-moz-placeholder,
      body .upload .content_tel input:-moz-placeholder,
      body .upload .content_address input:-moz-placeholder {
        /* Mozilla Firefox 4 to 18 */
        color: #c5c3c4; }
      html .upload .content_title input:-ms-input-placeholder,
      html .upload .content_tel input:-ms-input-placeholder,
      html .upload .content_address input:-ms-input-placeholder,
      body .upload .content_title input:-ms-input-placeholder,
      body .upload .content_tel input:-ms-input-placeholder,
      body .upload .content_address input:-ms-input-placeholder {
        /* Internet Explorer 10-11 */
        color: #c5c3c4; }
  html .upload .submit,
  body .upload .submit {
    width: 90%;
    margin: 0 auto;
    height: .866667rem;
    line-height: .866667rem;
    text-align: center;
    font-size: .4rem;
    border-radius: .053333rem;
    border: 1px solid #d5d1d2;
    margin-top: 1.2rem;
    background-color: #337ab7;
    color: #fff;
    -webkit-transition: all 0.3s ease;
    transition: all 0.3s ease;
    -webkit-filter: grayscale(0%);
    filter: grayscale(0%);
    opacity: 1; }
    html .upload .submit:hover,
    body .upload .submit:hover {
      -webkit-filter: grayscale(20%);
      filter: grayscale(40%);
      opacity: 0.8; }
  html .upload .float,
  body .upload .float {
    position: absolute;
    display: table-cell;
    vertical-align: middle;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    opacity: 0;
    -webkit-transition: all 400ms;
    transition: all 400ms; }
    html .upload .float .mask,
    body .upload .float .mask {
      width: 100%;
      height: 100%;
      background-color: #000;
      opacity: 0.3; }
    html .upload .float .chs,
    body .upload .float .chs {
      position: absolute;
      margin: auto;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      height: 2.666667rem;
      width: 60%;
      background: #fff;
      border-radius: .133333rem; }
      html .upload .float .chs .msg,
      body .upload .float .chs .msg {
        text-align: center;
        height: 1.86667rem;
        line-height: 1.86667rem;
        font-size: .426667rem;
        font-weight: 600; }
      html .upload .float .chs .choose,
      body .upload .float .chs .choose {
        position: absolute;
        bottom: 0;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        width: 100%;
        -webkit-box-orient: horizontal;
        -webkit-box-direction: normal;
        -ms-flex-direction: row;
        flex-direction: row;
        color: #fff;
        font-size: .3rem; }
        html .upload .float .chs .choose .option_1, html .upload .float .chs .choose .option_2,
        body .upload .float .chs .choose .option_1,
        body .upload .float .chs .choose .option_2 {
          background: #337ab7;
          width: 50%;
          height: 0.8rem;
          line-height: 0.8rem;
          text-align: center; }
        html .upload .float .chs .choose .option_1,
        body .upload .float .chs .choose .option_1 {
          border-bottom-left-radius: .133333rem; }
        html .upload .float .chs .choose .option_2,
        body .upload .float .chs .choose .option_2 {
          border-left: 1px solid #d5d1d2;
          border-bottom-right-radius: .133333rem; }
  html .content_area,
  body .content_area {
    width: 90%;
    margin: 0 auto;
    margin-top: 0.266667rem;
    height: 3.946667rem;
    border-bottom: 1px solid #d5d1d2; }
    html .content_area textarea,
    body .content_area textarea {
      margin: 0;
      padding: 0;
      border: none;
      outline: none;
      width: 100%;
      height: 100%; }
      html .content_area textarea::-webkit-input-placeholder,
      body .content_area textarea::-webkit-input-placeholder {
        color: #c5c3c4;
        font-family: Arial; }
      html .content_area textarea::-moz-placeholder,
      body .content_area textarea::-moz-placeholder {
        /* Mozilla Firefox 19+ */
        color: #c5c3c4;
        font-family: Arial; }
      html .content_area textarea:-moz-placeholder,
      body .content_area textarea:-moz-placeholder {
        /* Mozilla Firefox 4 to 18 */
        color: #c5c3c4;
        font-family: Arial; }
      html .content_area textarea:-ms-input-placeholder,
      body .content_area textarea:-ms-input-placeholder {
        /* Internet Explorer 10-11 */
        color: #c5c3c4;
        font-family: Arial; }
  html .upload_img,
  body .upload_img {
    width: 90%;
    margin: 0 auto;
    margin-top: 0.266667rem;
    position: relative;
    border-bottom: 1px solid #d5d1d2; }
    html .upload_img .desc,
    body .upload_img .desc {
      height: 0.4rem;
      line-height: 1;
      color: #c5c3c4;
      font-size: 0.373333rem; }
    html .upload_img .up,
    body .upload_img .up {
      width: 1.866667rem;
      height: 1.546667rem;
      position: relative;
      margin-top: 0.133333rem;
      margin-bottom: 0.8rem; }
      html .upload_img .up input,
      body .upload_img .up input {
        position: absolute;
        width: 100%;
        height: 100%;
        opacity: 0; }
      html .upload_img .up .back_img,
      body .upload_img .up .back_img {
        width: 100%;
        height: 100%; }
  html .me .user_info,
  body .me .user_info {
    margin-top: 0.666667rem;
    margin-bottom: 0.4rem;
    text-align: center; }
    html .me .user_info .user_img,
    body .me .user_info .user_img {
      margin: 0 auto;
      width: 1.826667rem;
      height: 1.826667rem;
      border-radius: 50%;
      overflow: hidden; }
      html .me .user_info .user_img img,
      body .me .user_info .user_img img {
        width: 100%;
        height: 100%; }
    html .me .user_info .nickname,
    body .me .user_info .nickname {
      margin-top: 0.266667rem;
      font-size: 0.6rem;
      font-weight: 600; }
  html .me > p,
  body .me > p {
    border-top: 1px solid #d5d1d2;
    width: 90%;
    margin: 0 auto;
    height: 1.44rem;
    line-height: 1.44rem;
    font-size: 0.4rem; }
    html .me > p a,
    body .me > p a {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-pack: justify;
      -ms-flex-pack: justify;
      justify-content: space-between;
      -webkit-box-align: center;
      -ms-flex-align: center;
      align-items: center; }
      html .me > p a .arrow,
      body .me > p a .arrow {
        width: 0.186667rem;
        height: 0.293333rem;
        display: inline-block; }
  html .me .float,
  body .me .float {
    position: absolute;
    display: table-cell;
    vertical-align: middle;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    opacity: 0;
    -webkit-transition: all 400ms;
    transition: all 400ms; }
    html .me .float .mask,
    body .me .float .mask {
      width: 100%;
      height: 100%;
      background-color: #000;
      opacity: 0.3; }
    html .me .float .form,
    body .me .float .form {
      position: absolute;
      margin: auto;
      left: 0;
      top: 0;
      bottom: 0;
      right: 0;
      height: 10.133333rem;
      box-sizing: border-box;
      background: #fff;
      padding: .586667rem;
      width: 80%;
      -webkit-box-sizing: border-box;
      box-sizing: border-box; }
      html .me .float .form input,
      body .me .float .form input {
        -webkit-box-sizing: border-box;
        box-sizing: border-box;
        display: block;
        border: none;
        outline: none;
        height: .866667rem;
        line-height: .866667rem;
        padding-left: .293333rem;
        border-bottom: 1px solid #d5d1d2;
        width: 100%; }
      html .me .float .form textarea,
      body .me .float .form textarea {
        border-radius: .133333rem;
        width: 100%;
        font-family: Arial;
        padding: .293333rem;
        -webkit-box-sizing: border-box;
        box-sizing: border-box;
        margin-top: .44rem;
        height: 4.653333rem;
        outline: none; }
      html .me .float .form .submit,
      body .me .float .form .submit {
        height: .866667rem;
        line-height: .866667rem;
        text-align: center;
        font-size: .4rem;
        border-radius: .053333rem;
        border: 1px solid #d5d1d2;
        margin-top: .8rem;
        background-color: #337ab7;
        color: #fff;
        -webkit-transition: all 0.3s ease;
        transition: all 0.3s ease;
        -webkit-filter: grayscale(0%);
        filter: grayscale(0%);
        opacity: 1; }
        html .me .float .form .submit:hover,
        body .me .float .form .submit:hover {
          -webkit-filter: grayscale(20%);
          filter: grayscale(40%);
          opacity: 0.8; }
      html .me .float .form .close,
      body .me .float .form .close {
        width: .533333rem;
        height: .533333rem;
        position: absolute;
        right: .266667rem;
        top: .266667rem; }
  html .public_history .list_head,
  body .public_history .list_head {
    margin: 0 auto;
    white-space: nowrap;
    overflow-x: scroll;
    -ms-overflow-style: none;
    overflow: -moz-scrollbars-none; }
    html .public_history .list_head::-webkit-scrollbar,
    body .public_history .list_head::-webkit-scrollbar {
      width: 0 !important;
      height: 0; }
    html .public_history .list_head span,
    body .public_history .list_head span {
      display: inline-block;
      margin-left: 0.266667rem;
      padding-top: 0.266667rem;
      padding-bottom: 0.266667rem;
      font-weight: 600;
      font-size: 0.293333rem;
      position: relative; }
      html .public_history .list_head span:nth-child(1),
      body .public_history .list_head span:nth-child(1) {
        margin-left: 0; }
    html .public_history .list_head span.active,
    body .public_history .list_head span.active {
      color: #19689e; }
      html .public_history .list_head span.active:after,
      body .public_history .list_head span.active:after {
        content: "";
        position: absolute;
        bottom: 0;
        height: 2px;
        width: 100%;
        left: 0;
        background: #19689e; }
  html .public_history .article_contet .article_item,
  body .public_history .article_contet .article_item {
    padding-left: 0;
    padding-right: 0;
    border-top: 1px solid #d5d1d2;
    padding-bottom: 0.24rem; }
  html .contact_now .map,
  body .contact_now .map {
    width: 100%;
    height: 5.413333rem; }
    html .contact_now .map img,
    body .contact_now .map img {
      width: 100%;
      height: 100%; }
  html .contact_now .contact,
  body .contact_now .contact {
    width: 90%;
    margin: 0 auto; }
    html .contact_now .contact .info,
    body .contact_now .contact .info {
      height: 1.44rem;
      line-height: 1.44rem;
      font-size: .48rem;
      border-bottom: 1px solid #d5d1d2; }
    html .contact_now .contact .qr,
    body .contact_now .contact .qr {
      text-align: center;
      margin-top: 1.066667rem;
      font-size: .48rem; }
      html .contact_now .contact .qr .code,
      body .contact_now .contact .qr .code {
        display: inline-block;
        width: 3.8rem;
        height: 3.8rem;
        margin-bottom: 0.466667rem; }
  html .news,
  body .news {
    width: 90%;
    margin: 0 auto; }
    html .news .news_item,
    body .news .news_item {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-orient: horizontal;
      -webkit-box-direction: normal;
      -ms-flex-direction: row;
      flex-direction: row;
      padding-top: .32rem;
      padding-bottom: .32rem;
      border-bottom: 1px solid #d5d1d2; }
      html .news .news_item:nth-last-child(1),
      body .news .news_item:nth-last-child(1) {
        border-bottom: none; }
      html .news .news_item a,
      body .news .news_item a {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: horizontal;
        -webkit-box-direction: normal;
        -ms-flex-direction: row;
        flex-direction: row;
        width: 100%;
        height: 100%; }
        html .news .news_item a .news_image,
        body .news .news_item a .news_image {
          margin-right: .466667rem;
          width: 2.44rem;
          height: 2.44rem; }
        html .news .news_item a .news_desc,
        body .news .news_item a .news_desc {
          display: -webkit-inline-box;
          display: -ms-inline-flexbox;
          display: inline-flex;
          -webkit-box-orient: vertical;
          -webkit-box-direction: normal;
          -ms-flex-direction: column;
          flex-direction: column;
          overflow: hidden;
          -webkit-box-flex: 1;
          -ms-flex: 1;
          flex: 1; }
          html .news .news_item a .news_desc .title,
          body .news .news_item a .news_desc .title {
            font-size: .48rem;
            font-weight: 600;
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis; }
          html .news .news_item a .news_desc .desc,
          body .news .news_item a .news_desc .desc {
            width: 100%;
            font-size: .346667rem;
            margin-top: .133333rem;
            margin-bottom: .266667rem;
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis; }
          html .news .news_item a .news_desc .read_amount,
          html .news .news_item a .news_desc .public_time,
          body .news .news_item a .news_desc .read_amount,
          body .news .news_item a .news_desc .public_time {
            font-size: .32rem;
            color: #8f8f8f; }
  html .news_detail,
  body .news_detail {
    width: 90%;
    margin: 0 auto; }
    html .news_detail .title,
    body .news_detail .title {
      margin-top: .626667rem;
      margin-bottom: .533333rem;
      text-align: center;
      font-size: .4rem; }
    html .news_detail .desc,
    body .news_detail .desc {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-orient: horizontal;
      -webkit-box-direction: normal;
      -ms-flex-direction: row;
      flex-direction: row;
      -webkit-box-pack: justify;
      -ms-flex-pack: justify;
      justify-content: space-between;
      color: #a8a8a8;
      font-size: .32rem;
      margin-bottom: .533333rem; }
    html .news_detail .content,
    body .news_detail .content {
      line-height: 1.5;
      font-size: .4rem; }
      html .news_detail .content img,
      body .news_detail .content img {
        width: 100%;
        height: auto;
        margin-top: .4rem;
        margin-bottom: .4rem; }

/*# sourceMappingURL=index.css.map */
